<!DOCTYPE html>
    {% load staticfiles %}
    {% load daily_doodle_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyDoodle-
        {% block title_block %}
        {% endblock %}
    </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                 main : '#1B1F3B',
                 main_gray: "#C0D0E7",
                 compliment: "#454ADE",
                 extra_blue: "#374395",
                 secondary: "#9947C9",
                 secondary_compliment: "#C874D9",
                 secondary_contrast: "#D84E60",
                 secondary_gray: "#E4C4C8",
                 canvas: "#B1B4C6",
              },
            },
          }
        }
      </script>
</head>
<body class="bg-extra_blue bg-[url('{% static "/icons/random-shapes.svg" %}')] bg-scroll bg-fixed text-main_gray">
  <main class="flex flex-col h-screen">
    <div class="flex flex-1 overflow-hidden">
    {% get_nav current_link user %}

      <div class="flex h-full w-full flex-row">
        <div id="main" class="w-full h-full  overflow-y-auto ml-20 mt-8">
        {% block body_block %}
        {% endblock %}
        </div>
      </div>
      <script src="{% static "js/jquery-3.3.1.min.js" %}" crossorigin="anonymous"></script>
      {% block script_block %}
      {% endblock %}
    </div>
  </main> 
</body>
</html>