<!DOCTYPE html>
    {% load staticfiles %}
    {% load daily_doodle_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyDoodle-
        {% block title_block %}
        {% endblock %}
    </title>
</head>
<body>
    {% get_nav current_link user %}
    <div id="main">
    {% block body_block %}
    {% endblock %}
    </div>

    <link href="https://getbootstrap.com/docs/4.2/dist/css/bootstrap.min.css" rel="stylesheet">

    
</body>
</html>