{% extends "dailydoodle/base.html" %}
{% load daily_doodle_tags %}

{% block title_block %}
Collections
{% endblock %}

{% block body_block %}
<main class="flex flex-col h-screen ">
  <div class="flex flex-1 overflow-hidden">
      <div class="flex h-full w-full flex-row">
          <div class="w-full h-full overflow-y-auto mt-16 flex flex-col items-center ">

              <div id="dynamic-content" class="mt-8">
                  {% for prompt_drawing,value in prompt_drawings.items %}
                   {% if forloop.counter == 1%} 
                      {% for drawing in value %}
                      <div class="flex flex-col items-center dynamic" id="{{ drawing.prompt.prompt }}">
                          <img id="displayed-image" src="{{ drawing.drawing.url }}" alt="{{ drawing.title }}"
                              class="rounded-lg shadow-lg w-5/6 aspect-video"/>
                          {% comment %} <button class="mt-8 bg-secondary_contrast px-4 py-1 rounded-lg font-medium text-secondary_gray shadow-lg">
                              <a class="block" id="details-link" href="{% url 'dailydoodle:drawing' drawing_id=drawing.drawing_id %}">See
                                  Details</a>
                          </button> {% endcomment %}
                      </div>
                      {% endfor %}
                    {% else %}
                      {% for drawing in prompt_drawing %}
                        <div class="flex flex-col items-center dynamic" id="{{ drawing.prompt.prompt }}">
                            <img id="displayed-image" src="{{ drawing.drawing.url }}" alt="{{ drawing.title }}"
                                class="rounded-lg shadow-lg w-5/6 aspect-video"/>
                            {% comment %} <button class="mt-8 bg-secondary_contrast px-4 py-1 rounded-lg font-medium text-secondary_gray shadow-lg">
                                <a class="block" id="details-link" href="{% url 'dailydoodle:drawing' drawing_id=drawing.drawing_id %}">See
                                    Details</a>
                            </button> {% endcomment %}
                        </div>
                        {% endfor %}
                      {% endif %}
                  {% endfor %} 
              </div>

          </div>
        </div>
  {% prompt_timeline prompts %}
  </div>
</main>
{% endblock %}