{% extends "dailydoodle/base.html" %}
{% load staticfiles %}
{% block title_block %}
Home
{% endblock %}

{% block body_block %}
{% csrf_token %} 
<h1>{{ prompt }}</h1>
<h2>{{ user }}</h2>

<div>
    <label for="comment">Comment:</label>
    <input type="text" id="comment" name="comment" data-drawing_id="{{user_drawing.drawing_id}}">
    <button id="submit">Submit Comment</button>
</div>

<h1 id="upvotes-display">{{user_drawing.total_upvotes}}</h1>
<button id="upvote" name="upvote">Upvote</button>


{% endblock %}

{% block script_block %}
<script src="{% static "js/drawing.js" %}"></script>
{% endblock %}