{% extends "dailydoodle/base.html" %}
{% load daily_doodle_tags %}
{% block title_block %}
{% load staticfiles %}
Home
{% endblock %}

{% block link %}
Homepage
{% endblock %}

{% block body_block %}
<section class="flex flex-col  mt-8">
<div class="flex flex-row justify-between gap-x-56">
    <div class="flex flex-col">
        <h4 class="text-xs">Todays Prompt</h4>
        <h1 class="font-extrabold text-6xl text-white">{{ prompt }}</h1>
        <button class="mt-8 bg-secondary_contrast px-4 py-1 rounded-lg font-medium text-secondary_gray shadow-lg"><a href="{% url 'dailydoodle:draw' %}">Draw Now!</a></button>
    </div>
    <div class="flex  flex-col justify-start items-start mr-20">
        {% if user_drawing %}
            <h4 class="text-xs self-start">Your Submission</h4>
            <img src={{MEDIA_URL}}{{user_drawing}} class="h-72 w-full rounded-lg shadow-lg" />
        {% endif %}
    </div>
</div>

<div class="flex flex-col mx-32 my-32">
    {% if top_drawings.amount > 0 %}
    <h4 class="text-xs">Todays Top {{top_drawings.amount}}</h4>
    <div class="relative mt-4 min-h-fit max-h-screen">
            <div class="absolute w-4/5 mt-2 ">
                <div class="flex flex-row w-full justify-center">
                {% for k in top_drawings.top %}
                {% if forloop.first%}
                 <div class="clickable h-4 w-4 bg-white rounded-lg mx-1 shadow-lg" data-drawing="{{k.drawing_id}}" id="intial"></div>
                {% else %}
                    <div class="clickable h-4 w-4 bg-indigo-100 hover:bg-white rounded-lg mx-1 shadow-lg  opacity-50"></div>
                {% endif %}
                {% endfor %}
                </div>
            </div>
        {% for k in top_drawings.top%}
            {% if forloop.first %}
                <div id="{{k.drawing_id}}" >
                    <img src={{MEDIA_URL}}{{k.drawing}} class="h-84 w-4/5 rounded-lg shadow-lg" />
                    <div class="h-8"> </div>
                    <div class="absolute w-4/5 bottom-0 mt-20 ">
                        <div class="flex flex-row w-full justify-center">
                        {% user_snippet k.user_profile_picture k.username k.total_upvotes%}
                        </div>
                    </div>
                </div>
            {% else %}
            <div id="{{k.drawing_id}}" class="hidden">
                <img src={{MEDIA_URL}}{{k.drawing}} class="h-84 w-4/5 rounded-lg shadow-lg" />
                <div class="h-8"> </div>
                <div class="absolute w-4/5 bottom-0 mt-20 ">
                    <div class="flex flex-row w-full justify-center">
                    {% user_snippet k.user_profile_picture k.username k.total_upvotes%}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div>
</div>

</section>
{% endblock %}

{% block script_block %}
<script src="{% static "js/index.js" %}"></script>
{% endblock %}