{% extends "dailydoodle/base.html" %}
{% load staticfiles %}
{% block title_block %}
Profile
{% endblock %}

{% block body_block %}
     
    <h1>Profile</h1>
    <div>
        {{ username }} </br>
        {{ email }} <br>
        <img class="rounded-lg h-28 w-32" src = {{MEDIA_URL}}{{ user_profile_picture }} alt="Profile picture"/>
        <!-- User profile will need to call update photo on click-->
    </div>
    <div>
        <form id = "change_username" method="post" action="." class="flex flex-col justify-evenly h-full items-center">
            {% csrf_token %}
            <div><!--For changing username-->
                <h4>Change Username</h4>
                <br />
                <input type="text" name="username" autofocus="" required="" id="id_username" maxlength="30" minlength="1" class="w-full rounded-lg bg-extra_blue p-1">
                <br />
                <input type="submit" value="update_username" class="bg-secondary_contrast rounded-lg py-2 px-4 w-3/4 text-white">
                <br />
            </div>
        </form>
        <form id = "change_password" method="post" action="." class="flex flex-col justify-evenly h-full items-center">
            {% csrf_token %}
            <div><!--For changing password-->
                <br />
                <h4>Change Password</h4>
                <br />
                <input type="password" name="password" autofocus="" required="" id="id_username" maxlength="30" minlength="1" class="w-full rounded-lg bg-extra_blue p-1">
                <br />
                <input type="submit" value="update_password" class="bg-secondary_contrast rounded-lg py-2 px-4 w-3/4 text-white">
                <br />
            </div>
        </form>
    </div>
{% endblock %}