{% extends "dailydoodle/base.html" %}
{% load staticfiles %}
{% block title_block %}
Profile
{% endblock %}

{% block body_block %}
<section class="mt-8 flex flex-col items-center">
    <h1 class="text-6xl font-bold text-white">Profile</h1>

    <div class="w-1/2 md:w-full md:mt-8">
    <div class="flex flex-row">
        <!-- User profile will need to call update photo on click-->
        <img id="user-image" class="rounded-lg h-28 w-32 hover:opacity-80 hover:cursor-pointer" src = {{MEDIA_URL}}{{ user_profile_picture }} alt="Profile picture"  />
        <form method="POST" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            <input name="picture" class="hidden" type="file" id="pic-changer" accept="image/jpeg"/>
            <input type="submit" id="submit" value="change_pic" class="hidden" />
        </form>
        <div class="ml-4">
        <h4>{{ email }}</h4>
        <h1 class="text-xl text-white font-bold">{{ username }}</h1>
        </div>
    </div>

    <div class="w-4/5 bg-main mt-8 rounded-lg p-8 flex flex-col items-start">
        <form id = "change_username" method="post" name="username_change" action="." class="flex flex-col justify-evenly h-full w-full items-center">
            {% csrf_token %}
            <div class="w-full"><!--For changing username-->
                <h4>Change Username</h4>
                <br />
                <input type="text"  name="username_change" autofocus="" required="" id="id_username" maxlength="30" minlength="1" class="w-full rounded-lg bg-extra_blue p-1">
                <br />
                <input type="submit" value="Update" class="bg-secondary_contrast rounded-lg py-2 px-4 w-2/5 mt-8 hover:cursor-pointer text-white ">
                <br />
            </div>
        </form>
        <form id = "change_password" method="post" action="." class="flex flex-col justify-evenly h-full w-full items-center">
            {% csrf_token %}
            <div class="w-full"><!--For changing password-->
                <br />
                <h4>Change Password</h4>
                <br />
                <input type="password" name="password_change" autofocus="" required="" id="id_password" maxlength="30" minlength="1" class="w-full rounded-lg bg-extra_blue p-1">
                <br />
                <input type="submit" value="Update" class="bg-secondary_contrast rounded-lg py-2 mt-8 px-4 w-2/5 text-white hover:cursor-pointer">
                <br />
            </div>
        </form>
        
        <form method="post" action="." class="flex w-full mt-8">
            {% csrf_token %}
            <input type="submit" name="delete_account" value="DELETE ACCOUNT!" class="bg-secondary_contrast text-white p-2 rounded-lg hover:cursor-pointer" />
        </form>
    </div>
    </div>
</section>
{% endblock %}

{% block script_block %}
<script src="{% static "js/profile.js" %}">
</script>
{% endblock %}